@import './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.light-mode {
  background: $slate-50;
  --text-color: #{$slate-900};
}

.dark-mode {
  background: $slate-900;
  --text-color: #{$slate-50};
}
