@import './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color ease 0.6s;
}

.light {
  --bg-color: #{$yellow-100};
  --text-color: #{$slate-700};
  --active-color: #{$slate-900};
}

.dark {
  --bg-color: #{$slate-800};
  --text-color: #{$gray-300};
  --active-color: #{$stone-50};
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
