@import './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.light-mode {
  background: $slate-50;
  --text-color: #{$slate-900};
  --nav-bg-color: rgba(255, 255, 255, 0.2);
}

.dark-mode {
  background: $slate-900;
  --text-color: #{$slate-50};
  --nav-bg-color: rgba(36, 36, 36, 0.2);
}

ul {
  list-style: none;
}
